body {
  font-family: 'JelleeBold';
  font-weight: normal;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-color: rgb(245, 245, 245);
}

header {
  background-color: #6fb1d6;
  color: #fff;
  text-align: center;
  padding: 1em;
}

#about p {
  background-color: rgb(178, 217, 250);
  max-width: max-content;
  border: solid rgb(31, 123, 199);
  padding: 10px;
  border-radius: 10px;
}


nav {
  background-color: rgb(102, 170, 226);
  color: #fff;
  text-align: center;
  padding: 0.5em;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

section {
  padding: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery img {
  width: 100%;
  max-width: 300px;
  margin: 10px;
}

#contact a {
  display: flex;
  justify-content: space-between;
}

.social-links a {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #333;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
  background-color: rgb(178, 217, 250);
  max-width: max-content;
  border: solid rgb(31, 123, 199);
  padding: 10px;
  border-radius: 10px;
}

footer {
  background-color: #6fb1d6;
  color: #fff;
  text-align: center;
  padding: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
}
